[submodule "Common"]
	path = Common
	url = git@github.com:Xebeth/dependencies-common.git
[submodule "StringUtils"]
	path = StringUtils
	url = git@github.com:Xebeth/dependencies-stringutils.git
[submodule "SigScan"]
	path = SigScan
	url = git@github.com:Xebeth/dependencies-sigscan.git
[submodule "HookManager"]
	path = HookManager
	url = git@github.com:Xebeth/dependencies-hookmanager.git
